In [1]:
print('hello')

hello

# 01. intro

## 단축키

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alt + enter : 지금 셀 실행 & 아래에 새로운 셀 추가


## 주의사항

1. Apple / apple 은 다르다. (대문자, 소문자)
2. git add . / git add. 은 다르다. (띄어쓰기)
3. message / massage 은 다르다. (철자)

In [24]:
# 주석을 나타냅니다.

1. 변수

변수이름 = 값 (할당한다)

- 변수이름은 어떤 이름이든 상관 없음
- 다만 영어, 숫자, 언더바_ 를 이용하여 선언
- 키워드는 사용불가

In [8]:
a = 10

In [9]:
a

10

In [10]:
import keyword
keyword. kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# 1.1 number

In [11]:
a = 1000000

In [12]:
a

1000000

In [13]:
type (a)

int

In [14]:
b = 1.1

In [15]:
b

1.1

In [16]:
type(b)

float

In [17]:
c = 1 -4j

In [18]:
c

(1-4j)

In [20]:
type(c)

complex

In [21]:
complex

complex

In [22]:
c.imag

-4.0

In [23]:
c.real

1.0

# 1.2 Boolean

True, False로 이루어진 타입

In [25]:
a = True

In [26]:
type(a)

bool

In [27]:
b = False

In [28]:
type(b)

bool

# 1.3 None

In [29]:
a = None

In [30]:
type(a)

NoneType

# 1.4 String

- 문자열은 `'` `"` 를 이용하여 표현

In [31]:
a = 'hello'

In [33]:
type(a)

str

In [35]:
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

In [38]:
print('안녕하세요? "오창희"입니다.')

안녕하세요? "오창희"입니다.

In [39]:
print("안녕하세요? '오창희'입니다.")

안녕하세요? '오창희'입니다.

In [41]:
print('안녕하세요? \'오창희\'입니다.')

안녕하세요? '오창희'입니다.

In [42]:
a = '''
여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성 할 수 있습니다.
'''

In [43]:
print(a)

여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성 할 수 있습니다.

In [46]:
print('엔터를 입력해봐요 \n 다음줄입니다. \t 들여쓰기도 가능합니다')

엔터를 입력해봐요
 다음줄입니다. 	 들여쓰기도 가능합니다

In [48]:
print('하나','둘','셋', end='!')

하나 둘 셋!

## string interpolation

1. %-formatting
2. str.format()
3. f-string

In [49]:
age = 20

In [50]:
print('홍길동은 %s살입니다.' % age)

홍길동은 20살입니다.

In [53]:
print('홍길동은 {}살입니다. '.format(age))

홍길동은 20살입니다.

In [55]:
print(f'홍길동은 {age}살입니다.')

홍길동은 20살입니다.

# 2. 연산자

## 2.1 산술 연산자

In [68]:
a = 8
b = 4

In [69]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

12
4
32
2.0
4096

In [70]:
# a를 b로 나눈 몫
print(a // b)

# a를 b로 나누고 나머지 출력
print(a % b)

# a를 b로 나눈 몫, 나머지 출력
print(divmod(a,b))

2
0
(2, 0)

## 2.2 비교연산자

In [72]:
a = 5
b = 10

In [75]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [76]:
print(a == b)

False

In [106]:
print(a != b)

False

## 2.3 논리연산자
- and : 양쪽 모두 True 일 때, True를 반환
- or : 양쪽 모두 False일 때, False를 반환
- not : 값을 반대로 전환

In [81]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [82]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [84]:
#단축평가(and)
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [85]:
#단축평가(or)
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

## 2.4 복합연산자

In [86]:
a = 1
b = 2

In [87]:
a = a + 1

In [88]:
a

2

In [91]:
a += 1
# a = a + 1 과 같은 코드임

a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b

위와 아래는 동일함

a += b
a -= b
a *= b
...

# 2.4 기타연산자

In [94]:
a = 'hi'
b = 'hello'

In [95]:
# concatenation
a + b

'hihello'

In [96]:
a = [1, 2, 3]
b = [4, 5, 6]

In [97]:
a + b

[1, 2, 3, 4, 5, 6]

In [98]:
# containmnet
print('a' in 'apple')
print('z' in 'apple')

True
False

In [99]:
print(1 in [1,2,3])
print(10 in [1,2,3])

True
False

In [101]:
# identity
a = 1
b = 1
print(a is b)

True

In [102]:
# identity
a = 12323
b = 12323
print(a is b)

False

## 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(+, -)
3. 산술연산자(+. -)

In [105]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

# 3. 형변환
## 3.1 암시적 형변환

In [107]:
a = True
b = 1

In [109]:
a + b

2

In [110]:
a = True
b = False
c = 1

In [112]:
print(a + c)
print(b + c)

2
1

In [114]:
int_num = 3
float_num = 3.3
complex_num = 1 + 3j

In [116]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(4+3j)

## 3.2 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변환
- str() : int, float 등을 string으로 변환
- bool() : int, list 등을 boolean으로 변환

In [117]:
a = 1
b = '번'

In [119]:
print(str(a) + b)

1번

In [120]:
a = '3'

In [122]:
type(int(a))

int

In [123]:
a = '3.3'

In [125]:
type(float(a))

float

In [126]:
a = 1
b = 0

In [128]:
bool(a)

True

In [129]:
bool(b)

False

In [131]:
print(bool([]))
print(bool([1,2,3]))

False
True

# 4. 시퀀스(sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료 구조 (순서대로 나열되었다는 것은 정렬된 것과는 다르다.)

1. 리스트
2. 튜플
3. 레인지
4. 문자열

## 4.1 List (배열)

- 선언 : 변수이름 = [value1, value2. value3 ...]
- 접근 : 변수이름[index]

In [186]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [134]:
location = ['서울', '대구', '대전']
print(location)
print(location[1])

['서울', '대구', '대전']
대구

## 4.2 Tuple

- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름(index)
- 리스트와 유사하지만 수정 불가능(immutable)하다.

In [137]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

## 4.3 range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 +s만큼 증가하는 범위

In [139]:
a = range(1)
print(type(a))

<class 'range'>

In [140]:
a = range(10)
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [141]:
a = range(5, 15)
print(list(a))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [142]:
a = range(1, 10, 2)
print(list(a))

[1, 3, 5, 7, 9]

In [144]:
a = range(-1, -10, -1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

In [145]:
a = range(0, -10, -1)
print(list(a))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

## 4.4 String
기본 데이터 구조 참고

## 4.5 시퀀스에서 활용가능한 연산/함수

In [159]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1, 6)
my_string = '12345'

In [161]:
# indxing

print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [163]:
# slicing

print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [153]:
# concatenation
print(my_list + [1, 2, 3])

[1, 2, 3, 1, 2, 3]

In [155]:
# *
print([0] * 10)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [160]:
print(len(my_list))

5

In [164]:
# min, max, count

# 5. 시퀀스 데이터가 아닌 자료구조

## 5.1 Set

수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)

- 선언 : 변수이름 = {value1, value2, value3...}

In [167]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {3, 4, 5, 6, 7}

In [168]:
print(my_set_a - my_set_b)

{1, 2}

In [169]:
print(my_set_a | my_set_b)

{1, 2, 3, 4, 5, 6, 7}

In [171]:
print(my_set_a & my_set_b)

{3, 4, 5}

In [173]:
my_list = [2, 2, 2, 2, 2, 2, 3, 4, 5, 6]
print(set(my_list))

{2, 3, 4, 5, 6}

## 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든것을 사용가능 (불변값: string, integer...)
- value에는 모든 데이터 가능(list, dictionary도 가능)

In [177]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [181]:
dict_a = {
    'name': 'hyosung',
    'location': 'busan'
}

In [183]:
print(dict_a)

{'name': 'hyosung', 'location': 'busan'}

# 데이터 타입

1. Number
2. Boolean
3. String

# 자료구조

- 시퀀스 자료형
  1. [List] : mutable (수정 가능)
  2. (Tuple) : immutable (수정 불가능)
  3. range() : mutable
  4. 'string' : immutable

 
- 시퀀스가 아닌 자료형
  1. {Set} : mutable
  2. {Dict: ionary} : mutable