# 제어문

## 조건문 (if)

1-1. `if` 문은 반드시 일정한 참/거짓을 판단 할 수 있는 `조건식`과 함께 사용한다. (`if <조건식>:`)

2-1. `<조건식>`이 참인 경우 `:` 이후의 문장을 실행한다.
   
2-2. `<조건식>`이 거짓인 경우 `else:` 이후의 문장을 실행한다.

In [10]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')

else:
    print('크리스마스가 아닙니다.')

 123

크리스마스가 아닙니다.

In [11]:
num = input('숫자를 입력해주세요')
print(num)
print(type(num))
num = int(num)

숫자를 입력해주세요 123

123
<class 'str'>

In [12]:
# 조건문을 사용해서 num에 들어있는 숫자가 홀수/짝수 인지 판별



if (num % 2) == 0:
    Print('짝수입니다.')

else: 
    print('홀수입니다.')

홀수입니다.

In [13]:
if (num % 2) == 1:
    print('홀수입니다.')
else: 
    print('짝수입니다.')

홀수입니다.

In [14]:
# num을 2로 나눈 나머지는 0, 1 두가지 경우가 있다.
# if문의 조건식에 0, 1은 자동형변환이 일어나 False, True로 변환된다.

if num % 2:
    print('홀수입니다.')
else:
    print('짝수입니다.')

홀수입니다.

## elif
```
if <조건식>:
    if 조건이 참인 경우 실행

elif <조건식>:
    elif 조건이 참인 경우 실행

...
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [15]:
score = int(input())

 95

In [45]:
# 90점 이상 A (95점 이상 '참 잘했어요')
# 80점 이상 B 
# 70점 이상 C
# 나머지 F

In [16]:
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

A

In [17]:

if score >= 90:
    print('A')
    if score >= 95:
        print('참 잘했어요.')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

A
참 잘했어요.

## 조건 표현식

```
true_value if <조건식> else false_value
```

In [18]:
print('True') if 1 > 0 else print('False')

True

In [19]:
if 1 > 0:
    print('True')
else:
    pring('False')

True

In [20]:
num = 5
value = num if num >=0 else 0
print(value)

5

In [21]:
num = 5
if num >= 0:
    value = num
else:
    value = 0
print(value)

5

In [22]:
num = 2
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

In [23]:
num = 2

result = '홀수' if num % 2 == 1 else '짝수'
print(result)

짝수

# 2023. 07. 26 마무리

# 반복문

## while 문

```
while <조건식>:
    실행할 코드

In [24]:
a = 0

while a < 5:
    print(a)
    a += 1
    # a = a + 1

0
1
2
3
4

In [25]:
# 사용자가 '안녕' 이라고 할때까지 계속 입력을 요청받는 코드

hello = ''

while hello != '안녕':
    hello = input('안녕이라고해줘 : ')

안녕이라고해줘 :  안녕

# for

정해진 범위 내의 반복

```
    for variable in sequence:
        code
```

In [26]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [27]:
# for문을 사용해서 사용자가 입력한 데이터를 한글자씩 출력하는 코드

word = input('단어를 입력해주세요: ')

for char in word:
    print(char)

단어를 입력해주세요:  wew

w
e
w

In [28]:
for i in range(5):
    print(i)

0
1
2
3
4

In [29]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [30]:
# 1~30까지 숫자 중에서 홀수만 담긴 리스트를 출력

numbers = range(31)
result = []

for number in numbers:
    if number % 2 == 1:
        #print(number)
        result.append(number)

print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [31]:
menus = ['라면', '김밥', '돈까스']

for menu in enumerate(menus):
    print(menu[0])
    print(menu[1])

0
라면
1
김밥
2
돈까스

In [32]:
enumerate(menus)

In [33]:
menus = ['라면', '김밥', '돈까스']

for idx, menu in enumerate(menus):
    print(idx)
    print(menu)

0
라면
1
김밥
2
돈까스

# dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key. value in dict.items():

In [35]:
info = {
    'name': 'hyosung',
    'location': 'seoul',
    'phone': '010-1234-1234',
}

In [36]:
for i in info:
    print(i)
    print(info[i])

name
hyosung
location
seoul
phone
010-1234-1234

In [37]:
blood_type = {
    'A' : 5,
    'B' : 4,
    'O' : 2,
    'AB' : 3
}

In [38]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [39]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [40]:
result = 0

for value in blood_type.values():
    result = result + value
print(f'총인원은 {result}명입니다.')

총인원은 14명입니다.

In [41]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

In [42]:
blood_type.items()

dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

## break

반복문을 종료시키는 키워드

In [43]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [44]:
rice = ['보리', '보리', '보리', '쌀', '보리', '보리']
# 보리, 보리, 보리, 쌀, 잡았다 => X

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다!')
        break

보리
보리
보리
쌀
잡았다!

## continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [45]:
for i in range(10):
    if i % 2:
        continue
    print(i)

0
2
4
6
8

In [46]:
age = [10, 35, 20, 18, 9, 40]

for a in age:
    if a <20:
        continue
    print('성인입니다.')

성인입니다.
성인입니다.
성인입니다.

## else

else문은 끝까지 반복이 진행된 후 실행됩니다.

In [47]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
break 못만남

In [48]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('break 못만남')

0
1
2
3
4
5

In [49]:
numbers = [1, 3, 5, 7, 9]
print (3 in numbers)
print (2 in numbers)

True
False

In [51]:
numbers = [1, 3, 5, 7, 9]
target = 9

for number in numbers:
    # if문을 통해 내가 원하는 숫자가 있으면 True
    if number == target:
        print('True')
        break
else:
    print('False')

True

## pass

In [52]:
if True:
    pass

## match

    match value:
        case 조건:
            code
        case 조건:
            code
        case _:
            code

In [53]:
status = 404

match status:
    case 400:
        print('Bad request')
    case 404:
        print('Not found')
    case _:
        print('something is wrong')

Not found