# 함수 (function)

In [1]:
height = 10
width = 20

height2 = 50
width2 = 80

# 직사각형의 둘레는 ***, 면적은 *** 입니다.

area = height * width
perimeter = (height + width) * 2
print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')


area = height2 * width2
perimeter = (height2 + width2) * 2
print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

직사각형의 둘레는 60, 면적은 200입니다.
직사각형의 둘레는 260, 면적은 4000입니다.

## 함수의 선언과 호출

```python
- 함수의 선언

def func_name(parameter1, parameter2...):
    code1
    code2
    ...
    return value

- 함수의 호출(실행)

    func_name(parameter1, parameter2)
    
```

In [2]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2
    print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

In [3]:
rectangle(10, 20)

직사각형의 둘레는 60, 면적은 200입니다.

In [4]:
max(1, 5)

5

In [5]:
# 두개의 정수를 받아서 큰수를 반환
def my_max(num1, num2):
    if num1 > num2:
        # 1이 더 큰경우
        print(f'{num1}이 더 큽니다.')
    elif num1 < num2:
        # 2가 더 큰 경우
        print(f'{num}가 더 큽니다.')
    else:
        print('두 수가 같습니다.')

In [6]:
my_max(10, 10)

두 수가 같습니다.

## 함수의 return

 - 함수가 return을 만나면 해당 값을 반환하고 함수를 종료
 - 만약 return이 없다면 None을 자동으로 반환
 - returm은 오직 하나의 객체만 반환합니다.

In [19]:
# 두개의 정수를 받아서 큰수를 반환

def my_max2(num1, num2):

    #return 'hello'
    
    if num1 > num2:
        return num1
    elif num1 <num2:
        return num2
    else:
        return 0

In [20]:
result = my_max2(1, 2)
print(f'{result}가 더 큽니다.')

2가 더 큽니다.

In [7]:
def my_list_max(list_a, list_b):
    if sum(list_a) > sum(list_b):
        return list_a
    else:
        return list_b

In [8]:
my_list_max([10, 11], [11, 12])

[11, 12]

# 07. 27 까지



-

# 함수의 인수

## 위치 인수

기본적으로 함수는 인수의 위치로 판단합니다.

In [3]:
def cylinder(r, h):
    return 3.14 * r**2 * h

print(cylinder(10, 5))
print(cylinder(5, 10))

1570.0
785.0

## 기본값

```
def func(p1=v1):
    return v1
```

In [11]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

print(greeting('창희'))
print(greeting())

창희님 반갑습니다.
익명님 반갑습니다.

In [14]:
def greeting(age='?', name='익명'):
    return f'{name}님은 {age}살 입니다.'

print(greeting(10, '홍길동'))
print(greeting())

홍길동님은 10살 입니다.
익명님은 ?살 입니다.

## 키워드 인자

함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 특정인자를 전달가능

In [16]:
def greeting(age='?', name='익명'):
    return f'{name}님은 {age}살 입니다.'

print(greeting(10, '홍길동'))
print(greeting(name='test', age='?'))

홍길동님은 10살 입니다.
test님은 ?살 입니다.

## 가변 인자 리스트

```
def func(*params):
    pass

In [18]:
def my_print(*words):
    print(words)
    print(type(words))

my_print('hi', 'hello', '안녕', '하세요')

('hi', 'hello', '안녕', '하세요')
<class 'tuple'>

In [23]:
def my_max(*nums):
    tmp=list(nums)
    tmp.sort()
    return tmp[-1]

my_max(1, 2, 3, 4, 5)

5

In [32]:
def my_max(*numbers):
    result = numbers[0]

    for number in numbers:
        if result < number:
            result = number

        return result

In [33]:
print(my_max(1, 2, 3, 4, 5))
print(my_max(-1, -2, -3, -4))

1
-1

### 정의되지 않은 키워드 인자 처리하기

```python

def func(**kwargs):
    pass

In [34]:
info = {
    'name': 'shin',
    'age': 23,
}
print(info)

{'name': 'shin', 'age': 23}

In [35]:
info = dict(name='shin', age=33)
print(info)

{'name': 'shin', 'age': 33}

In [36]:
def fake_dict(**kwargs):
    print(kwargs)
    print(type(kwargs))

fake_dict(korean='안녕', english='hi')

{'korean': '안녕', 'english': 'hi'}
<class 'dict'>

## 딕셔너리를 인자로 넣기(unpacking)

In [39]:
def sign_up(username, password, password_confirmation):
    if password == password_confirmation:
        print(f'{username}님 회원가입이 완료되었습니니다.')
    else:
        print(f'비밀번호가 일치하지 않습니다.')

sign_up('shin', '212', '234')

비밀번호가 일치하지 않습니다.

## lambda 표현식

```python

    lambda parameter: expression

In [40]:
(lambda a, b: a + b)(1, 2)

3

In [41]:
def my_sum(a, b):
    return a + b

my_sum(1, 2)

3

### 이름공간 (scope)

파이썬에서 사용되는 이름들은 이름공간(namespace)에 저장되어 있습니다.

- Local scope : 정의된 함수 내부
- Enclosed scope : 상위 함수
- global scope : 함수 밖의 변수 혹은 import된 모듈
- Built-in scope : 파이썬이 기본적으로 가지고 있는 함수 혹은 변수

앞글자만 따서 L E G B 룰이라고 표현함

In [1]:
str = '123'

In [45]:
a = 1
def localscope(a):
    print(a)

localscope(5)

# 본인과 가까운 쪽과 먼저 실행함.

5

In [47]:
num = 10
def scope():
    global num
    num = 20
    print(num)

scope()
print(num)

20
20

## 재귀 (recursive)

재귀 함수는 함수 내부에서 자기 자신을 호출하는 함수를 의미한다.

In [4]:
# 팩토리얼 (1 * 2 * ... * n = n!)

def fact(n):
    result = 1

    while n > 1:
        result = result * n
        # result *=n
        n = n - 1
        # n -= 1
    return result

fact(5)

120

1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3

In [6]:
def factorial(n):
    if n <= 1:
        return 1
    else:
        return factorial(n-1) * n

factorial(5)

120

## 피보나치 수열

```
F(0) = F(1) = 1
F(n) = F(n-1) + F(n-2)
```

In [1]:
# 반복문

def fib_loop(n):
    result = [1, 1]

    for i in range (1, n):
        end1 = result[-1]
        end2 = result[len(result)-2]
        fib_num = end1 + end2

        result.append(fib_num)

    return result[-1]

fib_loop(6)

13

In [2]:
# 재귀

def fib_rec(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib_rec(n-1) + fib_rec(n-2)

fib_rec(6)

13